<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="DumbTestSuite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
